<!DOCTYPE html>
<html>
  <head>
    <title> resp</title>
    <link rel='stylesheet' href='/stylesheets/resp1.css' />
    
    </head>
   <body>

  <div class="row">
  <div class="col-lg-6 col-sm-12">
  <h1 id="test">Hello Stanger</h1>
  <h1 id="test1">Hello Stanger</h1>
  <h1 id="test2">Hello Stanger</h1>
  <h1 id="test3">Hello Stanger</h1>
  <h1 id="test4">Hello Stanger</h1>
  <button type="button" onclick="rojo()">hello</button>
   <div class="cuadrado"></div>
  </div>
  <div class="col-lg-6 col-sm-12">
  <h1>Col 6</h1>
  </div>
  </div>

   </div>
   <script src="/javascripts/js1.js"></script>
  </body>
  
</html>
