<!DOCTYPE html>
<html>
  <head>
    <title>no resp</title>
    <link rel='stylesheet' href='/stylesheets/noresp.css' />
    <link rel='stylesheet' href='/stylesheets/transformations.css' />

    </head>
  <body>
  <header>
  <div class="imagen">
    
  </div>
<div class="grupo_cuadrado">
<div class="cuadrado amarillo"></div>
<div class="cuadrado verde"></div>
<div class="cuadrado morado"></div>

</div>
  </header>
<section class="contenedor">
<aside class="menu">
<nav>
 <ul>
 <li>
 <a href="">Menu 1</a>
 </li>
 <li>
 <a href="">Menu 2</a>
 </li>
 <li>
 <a href="">Menu 2</a>
 </li>
 <li>
 <a href="">Menu 4</a>
 </li>

 </ul>
</nav>    
</aside>  

<section class="contenido">
<article>lorem ipsmi lorem ipsmi lorem ipsmi lorem ipsmi</article>
<article>lorem ipsmilorem ipsmi lorem ipsmi lorem ipsmi</article>
<article>lorem ipsmi lorem ipsmi lorem ipsmi lorem ipsmi</article>
</section>
</section>

<footer>
    <p>Robert Bosch todos los derechos resevados</p>
</footer>
  </body>
  
</html>
