<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/transformations.css' />

    </head>
  <body>
  <div class="square" id="square1"></div>
  <div class="square" id="square2"></div>
  <div class="square" id="square3"></div>
  <div class="square" id="square4"></div>
  <div class="anim-square"></div>
  <div class="parent">
  <div id="move"></div>
  </div>
  
  </body>
  
</html>
