div.square{
    width: 100px;
    height: 100px;
    background: red;
    transition: all 4s;
    -webkit-transition: all 4s;
    -moz-transition: all 4s;
    -ms-transition: all 4s;
    -o-transition: all 4s;
}
#square1:hover{
    transform: rotate(60deg);
    -webkit-transform:scale(2,1);
    -moz-transform:scale(2,1);
    -ms-transform:scale(2,1);
    -o-transform:scale(2,1);
}
#square2:hover{
    transform: scale(2,1);
    -webkit-transform:scale(2,1);
    -moz-transform:scale(2,1);
    -ms-transform:scale(2,1);
    -o-transform:scale(2,1);
}
#square3:hover{ 
    transform: translate(20px,30px); 
}
#square4:hover{
    transform: skew(20deg);
}